.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-container .label {
  font-size: 16px;
  margin-bottom: 12px;
  width: 100%;
  text-align: start;
  margin-bottom: 8px;
  font-weight: 500;
}